/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	height: 100%;
}

body {
  	font-family: sans-serif;
  	height: 100%;
  	min-height: 100%;
}


/* variable */
$mainFontColor: #405E6B;


//*****************left-nav-bar*********************

left-nav-bar{
	position: absolute;
	width: 370px;
	top: 0;
	bottom: 0;
	overflow: hidden;

	background-color: #D7DADD;

	.container{
		padding-top: 35px;
		padding-left: 10px;
	}

	.title{
		font-family: STHeitiTC-Medium;
		font-size: 38px;
		color: $mainFontColor;
		line-height: 39px; 
		text-align:center;
	}

}

//*****************left-nav-bar*********************


/* map */
map{
	background-color: green;
	position: absolute;
	overflow: hidden;
	left: 370px;
	right: 0;
	top: 0;
	bottom: 0;
}

map svg{
	width: 100%;
	height: 100%;

}

