<div class="left-nav-bar" ng-controller="HomeCtrl">
    <div class="container">
        <span class = "title">台灣大學圖書館</span>
        <span class = "title">自習室管理系統</span>
    </div>
    <div class="subcontainer">
        <sapn class = "leftSeat">剩餘空位</span>
        <span class = "leftSeat number">{{emptySeat}}</span>
    </div>
    <div class="subcontainer">
        <span class = "emptyRate">空位率</span>
        <span class = "emptyRate percent">{{ratio}}%</span>
    </div>
    <button class="clearFilter" ng-click="deleteFilter()">
        <span class = "clearFilter_zh-cn">清除篩選</span>
        <span class = "clearFilter_en">Clear Filter</span>
    </button>

    <div ng-repeat="filterCategory in filterConstraint">
    	<div class="subcontainer">
    		<p class = "laptopArea">{{filterCategory.name}}</p>
    		<p class = "laptopArea en">{{filterCategory.enName}}</p>	
    	</div>
        <div class="subcontainer">
            <label ng-repeat="filter in filterCategory.filter">
                <input type = "checkbox" ng-model="filter.selected" ng-change="filterSelected(filter)">
                <span>{{filter.name}}/{{filter.enName}}</span>
                <br/>
            </label>    
        </div>
    </div>
</div>

 <map></map>

<div class="inputId">
<div class="container">
    <span class = "scanCard">刷卡輸入證號</span>
    <span class = "en">Place ID card under the scanner</span>
    <input type="text" ng-model="userid" focus-me="shouldBeOpen" ng-change="getHistory()" autofocus>
</div>
<div class="container">
    <span class = "scanCard">選擇座位</span>
    <span class = "en">Choose the seat</span>
</div>
<div class="container">
    <span ng-class = "{true:'seatId_selected', false: 'seatId_notSelected'}[isSelected]">{{selected_seat}}</span><!--尚未選擇-->
    <button type="button" class="choose" ng-click="submit()">確認/Submit</button>
    <button type="button" class="clear" ng-click="clearSelect()">清除/Clear</button>
</div>
</div>
<div class="flexible_area">
	<!-- <div ng-class="{true:'data', false:'no_data'}[historyData]"></div> -->
	<div class="data" ng-style="historyStyle[0]">
		<div class="last_time_title">
			<span>上次座位 Last Time</span>
		</div>
		<div class="last_time_seat">
			<span>{{lastSeat}}</span>
			<span class="status_circle"></span>
			<span class="status">空位</span>
		</div>
		<div class="recent_title">
			<span>最近常坐 Recent</span>
		</div>
		<div class="recent_seat" ng-repeat="seat in historySeat">
			<span>{{seat}}</span>
			<span class="status_circle"></span>
			<span class="status">空位</span>
		</div>
	</div>
	<div class="no_data" ng-style="historyStyle[1]">
		<span>查無資料 No Data</span>
	</div>
	<div class="container_history"></div>
</div>



 <div class="notification" ng-hide="noti_display">
    <span class = "registerSuccess zh-CN">登記成功</span>
    <span class = "registerSuccess">SUCCESS</span>
    <div class="containter top">
        <span class="wrapper">
            <span class="name zh-CN">李鹿尋</span>
            <span class="seatIs">同學登記的座位為</span>
        </span>
    </div>
    <div class="containter">
        <span class="wrapper">
            <span class="name en">{{userid}},</span>
            <span class="seatIs en">your seat number is</span>
        </span>
    </div>
    <div class="container top">
        <span class = "seatId">{{selected_seat}}</span>
    </div>
 </div>
 <div class="errorMsg">
    <span class = "msg1">尚未輸入學生證號</span>
    <span class = "msg2">尚未選擇座位</span>
 </div>


