<div class="left-nav-bar" ng-controller="HomeCtrl">
    <div class="container">
    	<span class = "title">台灣大學圖書館</span>
    	<span class = "title">自習室管理系統</span>
    </div>
    <div class="subcontainer">
    	<sapn class = "leftSeat">剩餘空位</span>
    	<span class = "leftSeat number">{{emptySeat}}</span>
    </div>
    <div class="subcontainer">
    	<span class = "emptyRate">空位率</span>
    	<span class = "emptyRate percent">{{ratio}}%</span>
    </div>

    <div ng-repeat="filterCategory in filterConstraint">
    	<div class="subcontainer">
    		<p class = "laptopArea">{{filterCategory.name}}</p>
    		<p class = "laptopArea en">{{filterCategory.enName}}</p>	
    	</div>
    	<div class="subcontainer">
    		<form ng-repeat="filter in filterCategory.filter">
    			<input type = "checkbox" ng-model="filter.selected" ng-change="setfilter()">{{filter.name}}/{{filter.enName}}<br/>
    		</form>
    		
    	</div>
    </div>
</div>

 <map></map>

 <div class="inputId">
 	<div class="container">
 		<span class = "scanCard">刷卡輸入證號</span>
 		<span class = "en">Place ID card under the scanner</span>
 		<input type="text" focus-me="shouldBeOpen">
 	</div>
 	<div class="container">
 		<span class = "scanCard">選擇座位</span>
 		<span class = "en">Choose the seat</span>
 	</div>
 	<div class="container">
 		<span class = "seatId">{{selected_seat}}</span>
 		<button type="button">清除/Clear</button>
 	</div>
 </div>

 <div class="notification">
 	<span class = "registerSuccess ">登記成功</span>
 	<span class = "registerSuccess">SUCCESS</span>
 </div>
 

